{% extends 'dash_base.html' %}
{% block content %}

<div class="container">
     <header>
        <center><h1 class="col-md-6">Subscriber Account</h1></center>
    </header><hr></div>
    <div class="container">
    <p>Hi, {{ current_user.name }}!</p>
    <p>Institution:</p>
    <p>Current Subscription:</p>
    <p>Next Billing Date:</p>
    <hr>
      <a class="btn btn-warning" data-bs-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false"
         aria-controls="multiCollapseExample1">Security</a>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapse2"
              aria-expanded="false" aria-controls="multiCollapseExample2">Account Settings</button>
    <a href="{{ url_for('subscribers.update') }}" class="btn btn-primary">Update</a>
    <a href="{{ url_for('subscribers.delete') }}" class="btn btn-danger">Delete</a>
    <a href="{{ url_for('subscribers.logout') }}" class="btn btn-secondary">Logout</a>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapse1">
      <div class="container card card-body col-12">
          <p>Change Your Password</p>
          <a href="" class="btn btn-secondary"> Send Link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapse2">
      <div class="container card card-body col-12">
          <p>Make Changes</p>
          <a href="" class="btn btn-primary"> Email</a><br>
          <a href="" class="btn btn-primary"> Payment Method</a>

      </div>
    </div>
  </div>
</div></div>
{% endblock %}