{% extends 'base.html' %}
{% block content %}
<section id="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <div class="container">
    <header>
        <center><h1 class="col-md-6">Account Login</h1></center>
    </header>
    </section>
 </div>

<div class="container">
    <div class="row m-3"><hr>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3">
    <div class="row col-xl-4 col-lg-4 col-md-6 col-sm-9 col-xs-10">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 m-2 ml-auto">
                  <form method="post" action="{{ url_for('subscribers.login') }}">
                          {{ form.csrf_token}}
                          {{ form.hidden_tag() }}
                      <div class="row">
                          {{ form.email.label}}
                          {{ form.email() }}</div>
                      <div class="row">
                          {{ form.password.label }}
                          {{ form.password() }}</div>
                      <div class="row col-6 mt-2">
                          {{ form.submit (class="btn btn-primary") }}
                      <div class="col-6 mt-2">
                          <a href="{{ url_for('subscribers.register') }}"
                             class="row link-underline-light col-12 ml-0 mt-3">Register</a></div></div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>
{% endblock %}