<!-- templates/register.html -->
{% extends 'base.html' %}
{% block content %}
<section id="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <div class="container">
    <header>
        <h1 class="col-md-6 offset-3">Account Registration</h1>
    </header>
    </div>
    </section>

<div class="container">
    <div class="row m-3">
                <div class="col-md-6 offset-md-3">
                    <p class="text-bg-dark">Already have an account?
                <a href="{{ url_for('subscribers.login') }}" class="link-underline-light m-2">Login Here</a>
                    </p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="{{ url_for('subscribers.register') }}" class="ml-auto">

                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <!-- Add more form fields as needed -->
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.phone_number.label(class="form-label") }}
                    {{ form.phone_number(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.address.label(class="form-label") }}
                    {{ form.address(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.billing_details.label(class="form-label") }}
                    {{ form.billing_details(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.payment_method.label(class="form-label") }}
                    {{ form.payment_method(class="form-control") }}
                </div>
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}

                </div>
        <div class="container">
            <div class="row m-3">
                <div class="col-md-6 offset-md-3">
                {{ form.submit(class="btn btn-primary col-md-6 offset-md-3") }}
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
