<!-- templates/update.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasUpdate" aria-labelledby="offcanvasUpdateLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasUpdateLabel">Update Subscriber</h5>
            <button type="button" class="btn btn-close btn-secondary text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
             <form method="POST">
      <div> {{ form.csrf_token }}</div>
      <div class="container row col-12">
            {{ form.hidden_tag() }}<br>
            {{ form.name.label }} {{ form.name() }}<br></div>
      <div class="container row col-12">
            {{ form.institution.label }} {{ form.institution() }}<br></div>
      <div class="container row col-12">
            {{ form.email.label }} {{ form.email() }}<br></div>
      <div class="container row col-12">
            {{ form.phone_number.label }} {{ form.phone_number() }}<br></div>
      <div class="container row col-12">
            {{ form.address.label }} {{ form.address() }}<br></div>
      <div class="container row col-12">
            {{ form.city.label }} {{ form.city() }}<br></div>
      <div class="container row col-12">
            {{ form.state.label }} {{ form.state() }}<br></div>
      <div class="container row col-12">
            {{ form.zip_code.label }} {{ form.zip_code() }}<br></div><br>
      <div class="container row col-12">
           {{ form.submit(class="btn btn-primary") }}<br></div>
  </form></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var offcanvasElement = document.getElementById('offcanvasUpdate');
        var bsOffcanvas = new bootstrap.Offcanvas(offcanvasElement);
        bsOffcanvas.show();
    </script>

{% endblock %}
