/* gradient-border.css */
.gradient-border {
  --border-width: 3px;
  position: relative;
  border-radius: var(--border-width);
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(24, 85%, 66%),
    hsl(59, 85%, 66%),
    hsl(94, 85%, 66%),
    hsl(150, 85%, 66%),
    hsl(200, 85%, 66%),
    hsl(266, 85%, 66%),
    hsl(279, 85%, 66%),
    hsl(300, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 0%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 6s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
