
@font-face {
    font-family: 'Akron';
    src: url('/assets/fonts/akron-nbp-font/AkronSansBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Aotani';
    src: url('/assets/fonts/aotani/AotaniThin.otf') format('opentype');
    font-weight: thin;
    font-style: normal;
}

p, nav, h5, h6 {
    font-family: 'Aotani', serif;
}

@font-face {
    font-family: 'Triad';
    src: url('/assets/fonts/triad/Triad.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
}

h2 {
    font-family: 'Aotani', serif;
    font-size: xx-large;
}

