<h2>Publish A Paper</h2>
    <form  method="post" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="abstract">Abstract:</label>
        <textarea id="abstract" name="abstract" required></textarea><br><br>

        <label for="authors">Authors:</label>
        <input type="text" id="authors" name="authors" required><br><br>

        <label for="file">Paper File (PDF or IPYNB):</label>
        <input type="file" id="file" name="file" accept=".pdf,.ipynb" required><br><br>

        <input type="submit" value="Submit">
    </form>
