{% extends 'admin/index.html' %}
{% block brand %}
<h5></h5>
{% endblock %}
{% block main_menu %}
{% endblock %}
{% block body %}
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 30px;">
  <h1>Reviewed Papers</h1>

{{ name }} was accessed using {{ request.method }} request.

  <br>
<h4><a href="{{ url_for('admin.index') }}">Return</a></h4>
<h4><a href="{{ url_for('admin.write_review') }}">Write A Review</a></h4>
{% if files %}
  <h3>Reviewed By You:</h3>
  <ul>
    {% for file in files %}
    <h4><li>{{ file.title }}</li></h4>
    {% endfor %}
  </ul>
{% else %}
<h3><p>You have not reviewed.</p></h3>

{% endif %}

<br>
{% endblock %}
</div>