{% extends 'admin/index.html' %}
{{ super()}}
{% block brand %}
<h5></h5>
{% endblock %}
{% block body %}
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 30px;">

<h2>Review for {{ title }}</h2>

<form class ="form-group" method="post" id="wysiwyg" action="/admin/reviews">
    <input type="hidden" name="csrf_token"  value="{{ csrf_token() }}">
<textarea class ="form-control" id="editor" name="review">
</textarea>
</form><br><br>

<button type="submit" form="wysiwyg" class="btn btn-lg btn-primary">Submit</button>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

<script>
    let editorInstance;

    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            editorInstance = editor;
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });

    document.getElementById('wysiwyg').addEventListener('submit', function() {
        document.querySelector('#editor').value = editorInstance.getData();
    });
</script>
{% endblock %}