{% extends 'admin/model/create.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}

{% block body %}
{{ super() }}
<form method="POST">
    <input type="hidden" name="csrf_token"  value="{{ csrf_token() }}">
    <button class="btn btn-primary" type="submit" value="Submit" style="width: 150px;">Submit</button>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( editor => {
            console.log( editor );
    } )
    .catch( error => {
            console.error( error );
    } );

// Function to populate the select field with file options
    function populateSelectField() {
        const selectField = document.getElementById('filename');

        // Fetch file paths and directory contents from the server
        fetch('/admin/review_submissions')
            .then(response => response.json())
            .then(data => {
                // Clear any existing options
                selectField.innerHTML = '';

                // Extract and populate the select field with filenames only
                data.files.forEach(filePath => {
                    // Extract the filename from the full filepath
                    const filename = filePath.split('/').pop();

                    // Create and add an option with just the filename
                    const option = document.createElement('option');
                    option.value = filename;
                    option.textContent = filename;
                    selectField.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error fetching file paths:', error);
            });
    }

    // Call the populateSelectField function when the page loads
    document.addEventListener('DOMContentLoaded', function() {
        populateSelectField();});

</script>


{% endblock %}
{% block tail_js %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity=
        "sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity=
        "sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}