{% extends 'admin/master.html' %}
{% block title %}Contribute{% endblock %}
{% block head_css %}
<style>
  .select,
  #locale {
    width: 100%;
  }
</style>
{{ super() }}
{% endblock %}
{% block head %}
<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>

<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% endblock %}

{% block brand %}
{% endblock %}
{% block body %}
<h1>Contribute</h1>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="row-fluid">
<h2>Submit A Paper</h2>
    <form method="POST" enctype="multipart/form-data">
               <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h4><label for="title">Title:</label></h4>
        <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type="text" id="title" name="title" required>
        <br><br>

        <h4><label for="abstract">Abstract:</label></h4>
        <textarea class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="abstract" name="abstract" required></textarea>
        <br><br>

        <h4><label for="authors">Authors:</label></h4>
        <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type="text" id="authors" name="authors" required>
        <br><br>

        <h4><label for="file">Paper File (PDF or IPYNB):</label></h4>
        <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type="file" id="file" name="file"
               accept=".pdf,.ipynb" required>
            <br><br>
        <button class="btn btn-primary" type="submit" value="Submit" style="width: 150px;">Submit</button>
    </form>
</div>
    </div>

{% block table %}

<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="select container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h2>Review A Paper</h2>
    <select class="form-control" id="paperSelect">
        <option value="">Select a Paper</option>
        {% for paper in data %}
            <option name="paper" value="{{ paper.id }}">{{ paper.title }} By {{ paper.authors }}</option>
        {% endfor %}
    </select>
    <br><br>
        <input type="hidden" name="csrf_token"  value="{{ csrf_token() }}">
    <button class="btn btn-primary" id="reviewButton" name="review" value="Review" style="width: 150px;">Review</button>
    <br><br>
</div>
<script>

document.getElementById('reviewButton').addEventListener('click', function() {
    var selectedPaperId = document.getElementById('paperSelect').value;
    if (selectedPaperId) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/admin/write_review';

        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'paper_id';
        hiddenField.value = selectedPaperId;

        // Add CSRF Token
        var csrfField = document.createElement('input');
        csrfField.type = 'hidden';
        csrfField.name = 'csrf_token';
        csrfField.value = '{{ csrf_token }}'; // Use the token passed from Flask
        form.appendChild(csrfField);

        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    } else {
        alert('Please select a paper to review.');
    }
});


</script>
</div>
{% endblock %}
{% endblock %}

{% block tail_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block tail %}
{% endblock %}

