{% extends 'admin/admin_index.html' %}
{% block brand %}
<h5></h5>
{% endblock %}
{% block main_menu %}
{% endblock %}
{% block menu_links %}
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<button type="button" class="btn btn-lg btn-outline-info col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="margin: 8px;">Logout</button>
<button type="button" class="btn btn-lg btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="margin: 8px;">Submissions</button>
<button type="button" class="btn btn-lg btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="margin: 8px;">Reviews</button>
<button type="button" class="btn btn-lg btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="margin: 8px;">Published</button>
<button type="button" class="btn btn-lg btn-info col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="margin: 8px;">All Papers Ever</button>
</div>
{% endblock %}
{% block body %}
{{ super() }}
{% endblock %}